doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title SplitTing App
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600")
        link(rel="stylesheet" href="styles/main.css")
    body
        header
            h1 SplitTing
            h2 Split Your Ting Bill!
        section
            p From your dashboard in Ting.com, go to 'Billing History', select a 'Bill - Monthly Usage' and download the .csv files for each category. Just drag and drop the files into the uploader below and SplitTing will break it down and calculate the costs. The only two parts SplitTing can't calculate you'll need to add are the Devices and Taxes &amp; Regulatory fees in the form.
            p If you're worried about security and sharing your information in this form, not to worry. The calculations are all done on the browser without saving any data or sending anything across to any servers.
            p If any errors do pop up, or if you have any feature requests, you can email to #[a(href="mailto:split.ting.app@gmail.com") split.ting.app@gmail.com]
        section.input-box
            label(for="bill-files" class="form-uploader-header") Upload your Ting Bill .csv's
            input(type="file" id="bill-files" name="files[]" multiple)
            .upload-label
                .upload-description Upload up to three csv files (minutes, messages, megabytes) from your bill.
        section.summary-section           
            h3 Bill Summary
            .bill-table#bill-summary
                .bill-row
                    .label Minutes
                    .type
                        span#type-minutes.hidden TYPE
                    .description
                        span.hidden #[span#bill-minutes ###] minutes used.
                    .total
                        span#total-minutes.hidden $###
                
                .bill-row
                    .label Messages
                    .type
                        span#type-messages.hidden TYPE
                    .description
                        span.hidden #[span#bill-messages ###] messages used.
                    .total
                        span#total-messages.hidden $###
                
                .bill-row
                    .label Megabytes
                    .type
                        span#type-megabytes.hidden TYPE
                    .description
                        span.hidden #[span#bill-megabytes ###] megabytes used.
                    .total
                        span#total-megabytes.hidden $###
                
                .bill-row
                    .label Devices
                    .type
                    .description Device charges for the past month
                    .total 
                        span#devices-total $#[input(name="additional-charge" id="additional-charge" type="text")]
                
                .bill-row#extras-row
                    .label Extras
                    .type
                    .description
                    .total
                    
            h3 Taxes &amp; Regulatory Fees
            
            .bill-table#total-taxes
                .bill-row
                    .description Federal, state and local taxes and regulatory fees.
                    .total $#[input(id="ting-fees" name="fees" type="text")]
                    
            .bill-table#bill-total
                .bill-row
                    .total-labels
                        span Usages
                        span Taxes &amp; Regulatory Fees
                        span Total
                    .total#total-values
            
            input(type="button" class="ting-button" id="calculate-button" value="Split the Bill!")
            input(type="button" class="ting-button secondary" id="reset-button" value="Reset Form")
            
        section.bill-split.hidden
            h2 Your Bill Splits Out To:
            table#bill-split-table
                thead
                    tr
                        th Phone
                        th Minutes
                        th Messages
                        th Megabytes
                        th Bill
            
        
        script(src='/js/main.js')
        